<html>
        <head>
                <title>TuneSearch</title>
                <link rel="stylesheet" type="text/css" href="/static/searchengine.css" media="screen" />
        </head>
        <body>
                <div class="box">
                        <div>
                                <img src="/static/header.png" />
                        </div>
                        <div id="searchbar">
                                <form action="{{ url_for('dosearch') }}" method="GET">
                                <div>
                                                <input type="radio" name="query_type" value="or" checked>
                                                <label for="or">OR</label>
                                                <input type="radio" name="query_type" value="and">
                                             	<label for="and">AND</label>
                                                <input type="hidden" name="n_page" value=0>
                                                <input type="hidden" name="n_row" value=0>
                                               	<input type="text" maxlength=50 size=50 name="query"><input type="submit" value="Search">
                                </div>
                                </form>
                        </div>
                </div>
        </body>
</html>
